
<html>
<p> New Iteration for <b><%= @project.name %></b> </p>

<div class="text_box">
<%= form_for([@project, @project.iteration.build]) do |f| %>
<table> 
<tr>
	<td class="borderstyle"><%= f.label :name %><span class="required"> *</span></td>
    <td><%= f.text_field :name %></td>
<tr>   
<tr>
	<td class="borderstyle"><%= f.label :iterationtype %><span class="required"> *</span></td>
	<td>   
		<%= f.select(:iterationtype, options_for_select(["Weekly", "Monthly", "BIO-Monthly"])) %>
    </td>
</tr>
<tr>
	<td class="borderstyle">    <%= f.label :Start_date %><span class="required"> *</span></td>
	<td>
		<%= f.text_field :start_date, :id => :popupDatepicker , :onmouseout=> "myFunction()"%>
	</td>
</tr>
<tr>
	<td class="borderstyle"> <%= f.label :End_date %><span class="required"> *</span></td>
    <td> <%= f.text_field :end_date, :id => :popupDatepicker1 %></td> 
</tr>
 <tr>
	<td class="borderstyle">    <%= f.label :Status %></td>
	
	<td> <%= f.select(:status, options_for_select(["Planned","Open"])) %></td>
</tr>
  <tr>
	<td class="borderstyle"> 
    <%= f.label :Description %></td> 
    <td> <%= f.text_area :description, :rows => 10, :cols => 75%></td> 
</tr> 
<tr>
	<td> 
		<%= f.submit %>
	</td> 
</tr>
 </table>
 </div>
<% end %>

</tr>
 </table>

</html>
<script>
	$("#popupDatepicker").glDatePicker(
	{
		onChange: function(target, newDate)
		{
			target.val
			(
				newDate.getFullYear() + "-" +
				(newDate.getMonth() + 1) + "-" +
				newDate.getDate()
			);
		}
	});
	$("#popupDatepicker1").glDatePicker(
	{
		onChange: function(target, newDate)
		{
			target.val
			(
				newDate.getFullYear() + "-" +
				(newDate.getMonth() + 1) + "-" +
				newDate.getDate()
			);
		}
	});
</script>
<script>
 function myFunction()
 {
	var current_ele = $("#iteration_iterationtype").val();
	if(current_ele == "Weekly")
	{	
		var st_date = $("#popupDatepicker").val();
		var date1 = Date.parse(st_date);
		date1.setDate(date1.getDate() + 7);
		var testda = date1.toString("yyyy-MM-dd");
		$("#popupDatepicker1").val(testda);
	}else
	if(current_ele == "Monthly")
	{
		var st_date = $("#popupDatepicker").val();
		var date1 = Date.parse(st_date);
		date1.setDate(date1.getDate() + 30);
		var testda = date1.toString("yyyy-MM-dd");
		$("#popupDatepicker1").val(testda);
	}
	else
	{
		var st_date = $("#popupDatepicker").val();
		var date1 = Date.parse(st_date);
		date1.setDate(date1.getDate() + 15);
		var testda = date1.toString("yyyy-MM-dd");
		$("#popupDatepicker1").val(testda);
	}
 }
</script>
<style>
.text_box
{
	background: #F5FCFC;
	border: 1px solid #E4E4E4;
	color: #505050;
	margin-bottom: 10px;
    padding: 6px;
}
#iteration_description{resize: none;}
.borderstyle
{
	float:right;
	position: relative;
    top: 5px;
}
</style>
