<html>
<body>
   <p>
	<b> From </b>
	<%= @start %>
	<b> to </b>
	<%= @end %>
   </p>
<b> Selected User : <%= @user %></b><br/>
 <b> For the project : <%= @pro1 %></b>
<%= @proj =  Project.find(:all,:conditions => {:name => @pro1 }) %>
</body>
</html>
